body, html {
  height: 100%;
  margin: 0;
}

.bg-dim{
  width: 100%;
  height: 100%;
  position: fixed;
}

.breath-page {
  background-image: url("../src/images/backgrounds/cloud-ocean.jpg");
  background-repeat: no-repeat; 
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.tst-bttn{
  position: absolute;
  top: 8px;
  right: 16px;
  font-size: 18px;
}

.directions{
  left: 0;
  font-size: 100px;
  line-height: 200px;
  margin-top: -100px;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 100%;
}

.circle{
  width: 400px;
  height: 400px;
  border-radius:50%; 
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.circle.inner{
  background-color: "#e7c52d";
  width: 400px;
  height: 400px; 
  border-radius:50%;
  margin: 0 auto;
}

@media (prefers-reduced-motion: no-preference) {
  .circle.animation{
    animation: blue-circle-breath  infinite 17s linear;
  }
  .directions.animation::before{
    content: 'Breath In';
    animation: directions-breath  infinite 17s linear;
  }
}

@keyframes directions-breath {
  0%{
    content: "In";
  }
  50%{
    content: "Hold";
  }
  52.5%{
    content: "Out";
  }
  100%{
    content: "Out";
  }
  
}


@keyframes blue-circle-breath {
  0%, 100%{
    transform: scale(0);
  }
  25%{
    transform: scale(1);
  }
  50%{
    transform: scale(1);
  }
}


